starter_data/1ubq_9mers.frag_fragset.txt.psd filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.frag filter=lfs diff=lfs merge=lfs -text

starter_code !text !filter !merge !diff
annealing_temps !text !filter !merge !diff
README.md !text !filter !merge !diff
1ubq_contact_map.png !text !filter !merge !diff
1fw4_contact_map.png !text !filter !merge !diff
